* {
     box-sizing: border-box;
}
body p, body h1{
     margin: 20px;
}
.blog-posts {
     padding: 10px;
     margin-bottom: 20px;
}
.intro {
     display: flex;
}
.introText {
     width: 70%;
}
#michelle {
     width: 30%;
     float: right;
     border-radius: 50%;
}
header {
     height: 200px;
}
.logo {
     width: 200px;
     height: auto;
     margin-right: 20px;
   }
   nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 10px;
   }
   nav ul {
     display: flex;
     list-style-type: none;
     margin: 0;
     padding: 0;
   }
   
   nav ul li {
     margin-right: 20px;
   }
   
   a {
     text-decoration: none;
     font-weight: bold;
     font-size: 18px;
   }
   main {
        margin: 50px;
   }
