.blog-posts {
     background-color: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
   
   }

   @media only screen and (min-width:1000px) {
     main {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-auto-rows: max-content;
          grid-gap: 20px;
        }
        
     .blog-posts {
       display: flex;
       flex-direction: column;
       height: 100%;
       background-color: white;
       padding: 20px;
       border-radius: 10px;
       box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
     
     }
     .blog-text {
          flex: 1;
     }     
   }