@font-face {
     font-family: ShadowsIntoLight;
     src: url('../css/ShadowsIntoLight-Regular.ttf');
}
html {
     margin: 0;
}
body {
     margin: 0;
     font-family: Arial, Helvetica, sans-serif;
}
header {
     padding: 20px;
     display: flex;
     align-items: center;
}
header p {
     font-family: ShadowsIntoLight;
     font-size: 4em;
}

p {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
     font-family: Arial, Helvetica, sans-serif;
}
h1 {
     font-size: 3em;
}
h2 {
     font-size: 2.5em;
}
h3 {
     font-size: 2em;
}
h4 {
     font-size: 1.5em;
}
h5 {
     font-size: 1.25em;
}
h6 {
     font-size: .75em;
} 
article {
     width: 80%;
     margin: auto;
     padding: 10px;
}
.blog-posts {
     margin: auto;
     border-radius: 10px;
     background-image: linear-gradient(to right, #53735E, #77A690);
}
.footer {
     margin: 0;
     text-align: center;
     background-image: url(../images/greenleaves.jpg);
}
#michelle-pic {
     width: 20%;
}
#colorPalette {
     width: 40%;
}
figcaption{
     width: 40%;
}
.blog-image {
     width: 80%;
}

nav {
     background-color: #77A690;
}

.topNav .icon {
     display: none;
   }

#michelle {
     transform: rotate(.05turn);
}

header p {
     animation-duration: 3s;
     animation-name: slidein;
   }
   
   @keyframes slidein {
     from {
       margin-left: 100%;
       width: 300%;
     }
   
     to {
       margin-left: 0%;
       width: 100%;
     }
   }
   
   @media only screen and (max-width: 800) {
     .topNav a .icon {
          display: none;
        }
     header p {
          font-family: ShadowsIntoLight;
          font-size: 3em;
     }
     body {
          width: 100%;
          margin: 5px;
     }
   }

@media only screen and (max-width: 600px) {
     .blog-image, figcaption {
          display: none;
     }
     header p {
          font-size: 10vw;
     }
     .logo {
          width: 33vw;
          height: 33vw;
     }
     body {
          width: 100%;
          margin: 5px;
     }
     .intro {
          display: block;
     }
     .introText {
          width: 100%;
     }
     #michelle {
          width: 80%;
          border-radius: 50%;
          display: block;
          margin-left: auto;
          margin-right: auto;
          float: none;
     }
     .topNav li:not(:first-child, :nth-child(2)) {
          display: none;
     }
     .topNav .icon {
       float: right;
       display: block;
     }
     .topNav.responsive {
          position: relative;
          display: block;
     }

     .topNav.responsive a .icon {
       position: absolute;
       right: 0;
       top: 0;
     }
     .topNav.responsive li {
       float: none;
       display: block;
       text-align: left;
     }
}