@font-face {
     font-family: ShadowsIntoLight;
     src: url('../css/ShadowsIntoLight-Regular.ttf');
}

body {
     font-family: Arial, Helvetica, sans-serif;
     background-color: #F2F2F2;
}
header {

     background-color: #261912;
     color: #77A690;
     padding: 20px;
     display: flex;
     align-items: center;
}
header p {
     font-family: ShadowsIntoLight;
     font-size: 4em;
}

main {
     background-color: #F2F2F2;
}
p {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 1em;
}
h1, h2, h3, h4, h5, h6 {
     font-family: Arial, Helvetica, sans-serif;
     color: #261912;
}
h1 {
     font-size: 3em;
}
h2 {
     font-size: 2.5em;
}
h3 {
     font-size: 2em;
}
h4 {
     font-size: 1.5em;
}
h5 {
     font-size: 1.25em;
}
h6 {
     font-size: .75em;
} 
article {
     width: 80%;
     margin: auto;
     padding: 10px;
}
.blog-posts {
     margin: auto;
     color: #261912;
     background-image: linear-gradient(to right, #53735E, #77A690);
}
.footer {
     text-align: center;
     color: #F2F2F2;
     background-image: url(../images/greenleaves.jpg);
}
.footerLink a:visited{
     color: #F2F2F2;

} 
a:link {
     color: #733D29;
}
a:visited {
     color: #261912;
}
#michelle-pic {
     width: 20%;
}
#colorPalette {
     width: 40%;
}
figcaption{
     width: 40%;
     background-color: #261912;
     color: #F2F2F2;

}
.blog-image {
     width: 80%;
}

@media only screen and (max-width: 800) {
     header p {
          font-family: ShadowsIntoLight;
          font-size: 3em;
     }
   }

@media only screen and (max-width: 600px) {
     header p, .blog-image, figcaption {
          display: none;
     }
     main {
          margin: 10px;
     }
}